<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <link rel="stylesheet" href="styles/additem.css" />
  <script defer src="/scripts/additem.js"></script>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <title>Form</title>
</head>

<body>

  <header>
    <%- include('navbar.ejs') %>
  </header>
<main>
  <section id="button">
  <button id="showAddForm">Show/Hide Add Form</button>
  </section>
  <section>
<form id="post-item-form" class="login-form" >
  
  <div>
    <label for="item-image">Item Image:</label>
    <input type="text" id="item-image" name="product_image" >

  </div>
  <div>
    <label for="item-name">Name:</label>
    <input type="text" id="item-name" name="name" required>
  </div>
  <div>
    <label for="item-description">Description:</label>
    <textarea id="item-description" name="description" required></textarea>
  </div>
  <div>
    <label for="item-price">Price:</label>
    <input type="number" id="item-price" name="price" required>
  </div>
  <div>
    <label for="item-category">Category:</label>
    <select id="item-category" name="category_name" required>
      <option value="">Category</option>
      <option value="Laptops">Laptops</option>
      <option value="Mobiles">Mobiles</option>
    </select>
  </div>
  <div>
    <label for="item-quantity">QTY</label>
    <input type="number" id="item-quantity" name="stock" required>
  </div>
  <div>
    <label for="featured-item">Promotion:</label>
    <input type="checkbox" id="featured-item" name="promotion">
    <!-- <select id="featured-item" name="promotion" required>
      <option value="false">No Promotion</option>
      <option value="true">Featured</option>
    </select> -->
  </div>
  <div>
    <input id= "additem" type="submit" value="submit">
  </div>

</form>
</section>
<section id="items">
  <!-- <p>help</p> -->
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

  </body>
</html> 