<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <link rel="stylesheet" href="styles/additem.css" />
  <script defer src="/scripts/additem.js"></script>
  <!-- <link rel="stylesheet" href="/styles/navbar.css"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-..." crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <title>Form</title>
</head>

<body>

  <header>
    <%- include('bar.ejs') %>
  </header>
  <main class="container">

    <!-- <button id="showAddForm" class="btn btn-primary">Show/Hide Add Form</button> -->
    <br><br><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addItemModal"
      data-bs-whatever="">Add Product Form</button>
    </br></br>
    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">

            <h1 class="modal-title fs-5" id="addItemModalLabel">Add Product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="post-item-form">
              <div class="mb-3">
                <label for="item-image" class="form-label">Item Image:</label>
                <input type="text" class="form-control" id="item-image" name="thumbnail_photo_url">
              </div>
              <div class="mb-3">
                <label for="item-name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="item-name" name="name" required>
              </div>
              <div class="mb-3">
                <label for="item-description" class="form-label">Description:</label>
                <textarea class="form-control" id="item-description" name="description" required></textarea>
              </div>
              <div class="mb-3">
                <label for="item-price" class="form-label">Price:</label>
                <input type="number" class="form-control" id="item-price" name="price" required>
              </div>
              <div class="mb-3">
                <label for="item-category" class="form-label">Category:</label>
                <select class="form-select" id="item-category" name="category_name" required>
                  <option value="">Category</option>
                  <option value="Laptops">Laptops</option>
                  <option value="Mobiles">Mobiles</option>
                  <option value="Tablets">Tablets</option>
                  <option value="Smartwatches">Smartwatches</option>
                  <option value="Monitors">Monitors</option>
                  <option value="Speakers">Speakers</option>
                  <option value="Televisions">Televisions</option>
                  <option value="Cameras">Cameras</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="item-quantity" class="form-label">QTY</label>
                <input type="number" class="form-control" id="item-quantity" name="stock" required>
              </div>
              <div class="mb-3">
                <label for="featured-item" class="form-label">Promotion:</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="featured-item" name="promotion">
                  <label class="form-check-label" for="featured-item">Featured</label>
                </div>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <input id="additem" type="submit" class="btn btn-primary" value="Submit">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <section id="modals">


      <div class="modal fade" id="sendMessageForm" tabindex="-1" aria-labelledby="sendMessageFormLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="sendMessageFormLabel">New message</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="send-message-form">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name" name="recipient-name">
                </div>
                <input type="hidden" id="productIdInput" name="productId" value="">

                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text" name="messageText"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="sendMessageButtonNested" type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="items" class="row row-cols-1 row-cols-md-1 g-4">
      <!-- <p>help</p> -->
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>