<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/pullproducts.js"></script>
  <link rel="stylesheet" href="styles/index.css" />

  <title>Form</title>
</head>

<body>
  <% include('navbar.ejs') %>
  <section>
    <form id="post-item-form" class="login-form">

      <div>
        <input id="additem" type="submit" value="submit">
      </div>
    </form>
  </section>
  <section id="items">

  </section>

  <button id="fetch-items">Fetch Items</button>

  <script>
    $(() => {
      $('#fetch-items').on('click', () => {
        $.ajax({
          method: 'GET',
          url: '/api/itemsSellerApi'
        })
        .done((response) => {
          const $itemsList = $('#items');
          $itemsList.empty();

          for(const item of response) {
            console.log(item);

            let $item = $(`<div class="product">
              <img src="https://example.com/product-image.jpg" alt="no image">
              <h3>Product Name: ${item.name}</h3>
              <p>Price: ${item.price}</p>
              <p>Stock: ${item.stock}</p>
              <p>Description: ${item.description}</p>
            </div>`);
            $itemsList.prepend($item);
          }
        });
      });
    });
  </script>
</body>

</html>



