<nav class="navbar">
  <div class="left">
    <span class="logo">Sell-ebration</span>
  </div>
  <div class="center">
    <form class="search-form" action="/search" method="GET">
      <input type="text" name="query" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="right">
    <% if (isLoggedIn) { %>
      <a href="/post" class="nav-button">Post an Item</a>
      <a href="/logout" class="nav-button">Logout</a>
    <% } else { %>
      <a href="/users/login" class="nav-button">Login</a>
      <a href="/users/register" class="nav-button">Register</a>
    <% } %>
  </div>
</nav>

