<nav>
  <span class="logo">Sell-ebration</span>

  <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
    <input type="text" class="form-control" placeholder="Search for specific product" name ="productSearched" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>


  <div class="right">
    <span class="words">
      <span class="logo-text"> Post an Item </span>
    </span>
      <i class="fa-solid fa-angles-down"></i>
    </button>
  </div>
