<!DOCTYPE html>
<html lang="en">

<head>
  <title><%=prodName%></title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- APP CSS-->
  <link rel="stylesheet" href="/styles/prodDetails.css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

    <!-- EXTERNAL JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>

    <!-- APP JS -->
  <script defer src="/scripts/prodDetails.js"></script>
  <script defer src="/scripts/addToFavourites.js"></script>


   <!-- Font Awesome (for Icons)-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="navbar">
    <%- include('navbar.ejs') %>
  </div>

  <h1><%=prodName%></h1>
  <section id="item"></section>

</body>

</html>
