<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/register.css">
<form action="/users/register" method="POST">

<!DOCTYPE html>
<html>
<head>
  <header> <%- include('navbar.ejs') %></header>
  <title>Registration Page</title>
</head>
<body>
  <h1>Registration</h1>
  <form action="/register" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" required><br><br>

    <label for="province">Province:</label>
    <input type="text" id="province" name="province" required><br><br>

    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
    <small>Format: 123-456-7890</small><br><br>

    <input type="submit" value="Register">
  </form>
</body>
</html>
