body {
  margin: 1.5em;
  padding: 0;
  margin-top: 10.5em;
}

.container {
  margin-top: 120px;
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.product img {
  width: 15.0em;
  height: 15.0em;
  object-fit: cover;
  border: 0.2em solid #5f45b5;
}

#items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4.0em;
}

p {
  color: #000000;
}

h3 {
  color: #000000;
}
