nav {
  display: flex;
  padding: 0 1.5em;
  height: 120px;
  width: 100%;
  position: fixed;
  color: #FFFFFF;
  background-color: #4545b5;
  justify-content: space-between;
  top: 0;
}

.logo {
  display: flex;
  font-size: 50px;
  align-items: center;
  margin-left: 0.25em;
}

.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.66em;
}

.logo-text {
  display: flex;
  font-size: 20px;
}

/* Style the search box inside the navigation bar */
.form-inline {
  float: right;
  padding-top: 30px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.btn{
  margin-top: 5%;
  height: 50%;
  background-color: #05050a;
  margin-left: 15%;
}
