
div#contentContainer {
  padding-top: 130px;
  background-color: #f3efe9;
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}

#resultsHeadingContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3em;
  margin-right: 3em;
}

#resultsContent{
  display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
}

#filterSection{
  margin-right: 10em;
  margin-left: 1em;
}

.labelSpanInput{
  display: flex;
}

label {
  text-align: right;
  margin-right:5px;
}


input {
  height: 20px;
  width: 200px;
  float: left;
  margin-left: 1em;
}



#searchResults{
  min-width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.0em;


}
.productContainers{
  margin-top: 2em;
  background-color: #f0f0f0;
  min-width: 50em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 0.2em;
}

.productContainers:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.616);
}
